#control-container {
    display: flex;
    justify-content: space-between;
}

button {
    border: none;
    background: none;
    outline: none;
    color: #000;
}

#timer-control {  
    font-weight: 400;
    width: 240px;
    margin-top: 24px;
    text-align: center;

    .icon-length { 
        padding: 0 18px; 
        font-size: 38px;
        cursor: pointer;
    }
    .fa-sort-up { vertical-align: -8px; }
    .fa-sort-down { vertical-align: 8px;}
}

/* Small phones - Small Tablet: from 0 to 767 px */
@media only screen and (max-width: 767px) {
    #control-container { 
        flex-direction: column;
        align-items: center;
    }
}
